doctype html
html
head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    |     
    meta(charset='UTF-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |     
    link(href='/stylesheets/film.css', rel='stylesheet', type='text/css')
    |     
    link(rel='shortcut icon', href='/images/logo.jpg')
    |     
    title MovieKraken | HomePage
    |     
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    // sweet alert
    body(style = "text-align: center")
    // Navigation
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand.text-white(href='/') MovieKraken
        |             
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsHomepage', aria-controls='navbarsHomepage', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        |             
        .collapse.navbar-collapse(id='navbarsHomepage userlog')
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.text-white(href='/film') Film
            |                     
            li.nav-item
              a.nav-link.text-white(href='/tvshow') Serie TV
            |                     
            li.nav-item
              a.nav-link.text-white(href='/login') Login
            |                     
            li.nav-item
              a.nav-link.text-white(href='/signup') Sign Up
    // Navigation
    h1 Seleziona il tuo Film preferito!
    div
    -if(jsonfile['total_results'] == '0')
      div
        br
        br
        br
        h5 NESSUN RISULTATO TROVATO.
        h5  
          a(href="/film") RITORNA ALLA PAGINA DEI FILM
    -else
        -console.log("total results = "+jsonfile['total_results']/jsonfile['total_pages'])
        -for(i = 0; i+2 < jsonfile['total_results']/jsonfile['total_pages']; i+=3)
              - var fileJson1 = jsonfile['results'][i]['title'];
              - var img1 = jsonfile['results'][i]['poster_path'];
              - var id1 = jsonfile['results'][i]['id'];
              - var fileJson2 = jsonfile['results'][i+1]['title'];
              - var img2 = jsonfile['results'][i+1]['poster_path'];
              - var id2 = jsonfile['results'][i+1]['id'];
              - var fileJson3 = jsonfile['results'][i+2]['title'];
              - var img3 = jsonfile['results'][i+2]['poster_path'];
              - var id3 = jsonfile['results'][i+2]['id'];
              br
              .container
                .row
                  .col-sm
                    div(class='res')
                      a(href="/risultato" name=""+id1+"")
                        img(src = 'https://image.tmdb.org/t/p/w500/'+img1,width = "40%", class='img')
                        p #{fileJson1}
                  .col-sm
                    div(class='res')
                      a(href="/risultato" name=""+id2+"")
                        img(src = 'https://image.tmdb.org/t/p/w500/'+img2,width = "40%", class='img')
                        p #{fileJson2}
                  .col-sm
                    div(class='res' name=""+id3+"")
                      a(href="/risultato")
                        img(src = 'https://image.tmdb.org/t/p/w500/'+img3,width = "40%", class='img')
                        p #{fileJson3}
         -while(i+1<jsonfile['total_results']/jsonfile['total_pages'])
            - var fileJson1 = jsonfile['results'][i]['title'];
            - var img1 = jsonfile['results'][i]['poster_path'];
            - var id1 = jsonfile['results'][i]['id'];
            - var fileJson2 = jsonfile['results'][i+1]['title'];
            - var img2 = jsonfile['results'][i+1]['poster_path'];
            - var id2 = jsonfile['results'][i+1]['id'];
            br
            .container
                .row
                    .col-sm
                        div(class='res')
                         a(href='https://www.themoviedb.org/movie/'+id1+'-'+fileJson1+'?language=it-IT')
                            img(src = 'https://image.tmdb.org/t/p/w500/'+img1,width = "40%", class='img')
                            p #{fileJson1}
                    .col-sm
                        div(class='res')
                         a(href='https://www.themoviedb.org/movie/'+id2+'-'+fileJson2+'?language=it-IT')
                            img(src = 'https://image.tmdb.org/t/p/w500/'+img2,width = "40%", class='img')
                            p #{fileJson2}
                    .col-sm
                    div(class='res')
                      br
            -i = i+2;
         -while(i<jsonfile['total_results']/jsonfile['total_pages'])
            - var fileJson1 = jsonfile['results'][i]['title'];
            - var img1 = jsonfile['results'][i]['poster_path'];
            - var id1 = jsonfile['results'][i]['id'];
            br
            .container
                .row
                    .col-sm
                        div(class='res')
                         a(href='https://www.themoviedb.org/movie/'+id1+'-'+fileJson1+'?language=it-IT')
                            img(src = 'https://image.tmdb.org/t/p/w500/'+img1,width = "40%", class='img')
                            p #{fileJson1}
                    .col-sm
                    div(class='res')
                    .col-sm
                    div(class='res')
                      br
            -i = i+1;
    // Footer
    
   //client.js:1:19 div
      br
      br
      br
      br
      br
      br
      footer.footer.bg-dark.text-white
        .container.pt-5.pb-2
          .row
            .col-md-3.col-lg-4.col-xl-3
              h4 il trio universitario :P
              |                     
              hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
              |                     
              p
                | Progetto realizzato per il corso di Reti di Calcolatori, universit&agrave; Sapienza di Roma.
            |                 
            .col-md-3.col-lg-2.col-xl-2.mx-auto
              h4 Useful links
              |                     
              hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
              |                     
              p
                a.text-white(href='#') Home
              |                     
              p
                a.text-white(href='#') About Us
              |                     
              p
                a.text-white(href='#') Services
              |                     
              p
                a.text-white(href='#') Contact
            |                 
            .col-md-4.col-lg-3.col-xl-3
              h4 Contact
              |                     
              hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
              |                     
              p
                a(href='https://goo.gl/maps/Z6mkUPT3rin')
                  i.fa.fa-home.mr-3
                |  Piazzale Aldo Moro 7
              |                     
              p
                i.fa.fa-envelope.mr-3
                |  plutoboy97@gmail.com
              |                     
              p
                i.fa.fa-phone.mr-3
                |  + 06 842 569
        div#sessionStorage
        // Footer Links
        hr.bg-white.mx-4.mt-2.mb-1
        // Copyright
        .container-fluid
          p.text-center.m-0.py-1
            | &copy; 2017 Copyright 
            a.text-white(href='https://getbootstrap.com/') Bootstrap 4
        // Copyright
      // Footer
      script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')     
      script(src='//code.jquery.com/jquery-1.11.1.min.js') 
