doctype html
html
head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    |     
    meta(charset='UTF-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |     
    link(href='/stylesheets/film.css', rel='stylesheet', type='text/css')
    |     
    link(rel='shortcut icon', href='/images/logo.jpg')
    |     
    title MovieKraken | Film
    |     
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    // sweet alert
    body.sfbg(style = "text-align: center")
    // Navigation
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand.text-white(href='/') MovieKraken
        |             
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsHomepage', aria-controls='navbarsHomepage', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        |             
        .collapse.navbar-collapse(id='navbarsHomepage userlog')
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.text-white(href='/home_film') Film
            |                     
            li.nav-item
              a.nav-link.text-white(href='/home_tvshow') Serie TV
    // Navigation
    h1 Seleziona il tuo Film preferito!
    div
    -if(jsonfile['total_results'] == '0')
      div
        br
        br
        br
        h5 NESSUN RISULTATO TROVATO.
        h5  
          a(href="/film") Ritorna alla pagina dei film
    -else
        -for(i = 0; i+2 < jsonfile['total_results']/jsonfile['total_pages']; i+=3)
              - var fileJson1 = jsonfile['results'][i]['title'];
              - var img1 = (jsonfile['results'][i]['poster_path'] != null) ?  'https://image.tmdb.org/t/p/w500/'+jsonfile['results'][i]['poster_path'] : "/images/no_locandina.webp"
              - var id1 = jsonfile['results'][i]['id'];
              - var fileJson2 = jsonfile['results'][i+1]['title'];
              - var img2 = (jsonfile['results'][i+1]['poster_path'] != null) ?  'https://image.tmdb.org/t/p/w500/'+jsonfile['results'][i+1]['poster_path'] : "/images/no_locandina.webp"
              - var id2 = jsonfile['results'][i+1]['id'];
              - var fileJson3 = jsonfile['results'][i+2]['title'];
              - var img3 = (jsonfile['results'][i+2]['poster_path'] != null) ?  'https://image.tmdb.org/t/p/w500/'+jsonfile['results'][i+2]['poster_path'] : "/images/no_locandina.webp"
              - var id3 = jsonfile['results'][i+2]['id'];
              br
              .container
                .row
                  .col-sm
                    div(class='res')
                      a(href="/risultato_film"+"/:"+id1+"?")
                        img(src = img1,width = "50%", height = "75%",class='img')
                        p.tfilm #{fileJson1}
                  .col-sm
                    div(class='res')
                      a(href="/risultato_film"+"/:"+id2+"?")
                        img(src = img2,width = "50%", height = "75%", class='img')
                        p.tfilm #{fileJson2}
                  .col-sm
                    div(class='res')
                      a(href="/risultato_film"+"/:"+id3+"?")
                        img(src = img3,width = "50%", height = "75%", class='img')
                        p.tfilm #{fileJson3}
         -while(i+1<jsonfile['total_results']/jsonfile['total_pages'])
            - var fileJson1 = jsonfile['results'][i]['title'];
            - var img1 = (jsonfile['results'][i]['poster_path'] != null) ?  'https://image.tmdb.org/t/p/w500/'+jsonfile['results'][i]['poster_path'] : "/images/no_locandina.webp"
            - var id1 = jsonfile['results'][i]['id'];
            - var fileJson2 = jsonfile['results'][i+1]['title'];
            - var img2 = (jsonfile['results'][i+1]['poster_path'] != null) ?  'https://image.tmdb.org/t/p/w500/'+jsonfile['results'][i+1]['poster_path'] : "/images/no_locandina.webp"
            - var id2 = jsonfile['results'][i+1]['id'];
            br
            .container
                .row
                    .col-sm
                        div(class='res')
                         a(href="/risultato_film"+"/:"+id1+"?")
                            img(src = img1,width = "50%", height = "75%",class='img')
                            p.tfilm #{fileJson1}
                    .col-sm
                        div(class = "res")
                         a(href="/risultato_film"+"/:"+id2+"?")
                            img(src = img2,width = "50%", height = "75%",class='img')
                            p.tfilm #{fileJson2}
                    .col-sm
                    div(class='res')
                      br
            -i = i+2;
         -while(i<jsonfile['total_results']/jsonfile['total_pages'])
            - var fileJson1 = jsonfile['results'][i]['title'];
            - var img1 = (jsonfile['results'][i]['poster_path'] != null) ?  'https://image.tmdb.org/t/p/w500/'+jsonfile['results'][i]['poster_path'] : "/images/no_locandina.webp"
            - var id1 = jsonfile['results'][i]['id'];
            br
            .container
                .row
                    .col-sm
                        div(class='res')
                         a#animation_6(href='/risultato_film'+"/:"+id1+"?")
                            img(src = img1,width = "50%", height = "75%",class='img')
                            p.tfilm #{fileJson1}
                    .col-sm
                    div(class='res')
                    .col-sm
                    div(class='res')
                      br
            -i = i+1;