doctype html
html
head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    |     
    meta(charset='UTF-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |     
    link(href='/stylesheets/film.css', rel='stylesheet', type='text/css')
    |     
    link(rel='shortcut icon', href='/images/logo.jpg')
    |     
    title MovieKraken | SerieTV
    |     
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    // sweet alert
   
    body.sfbg(style = "text-align: center")
    // Navigation
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand.text-white(href='/') MovieKraken
        |                        
        .collapse.navbar-collapse(id='navbarsHomepage userlog')
          ul.navbar-nav.ml-auto   
            li.nav-item
            a.nav-link.text-white
              .g-signin2(data-onsuccess='onSignIn')
            |               
            li.nav-item
              #film
                a.nav-link.text-white(href='/home_film') Film
            |                     
            li.nav-item
              #tvshow
                a.nav-link.text-white(href='/home_tvshow') Serie TV
            -if(user)
              li.nav-item.active
                a.nav-link(href='/auth/userPage')
                  i.fa.fa-address-card
                  |  Hi
                  span.nav-user  #{user.firstName}
              li.nav-item.active
                a.nav-link(href='/auth/logout')
                  i.fa.fa-sign-out
                  |  Log-out
            -else
              li.nav-item.active
                  a.nav-link(href='/auth/login')
                    i.fa.fa-sign-in
                    |  Log-in
            
    // ERROR
    h1 Seleziona il tuo Film preferito!
    div
     -if(jsonfile['total_results'] == '0')
      div
        br
        br
        br
        h5 NESSUN RISULTATO TROVATO.
        h5  
          a(href="/home_tvshow") Ritorna alla pagina delle serie TV
     -else
        -console.log(jsonfile)
        -for(i = 0; i+2 < jsonfile['total_results']/jsonfile['total_pages']; i+=3)
            - var fileJson1 = jsonfile['results'][i]['name'];
            - var img1 = (jsonfile['results'][i]['poster_path'] != null) ?  'https://image.tmdb.org/t/p/w500/'+jsonfile['results'][i]['poster_path'] : "/images/no_locandina.webp"
            - var id1 = jsonfile['results'][i]['id'];

            - var fileJson2 = jsonfile['results'][i+1]['name'];
            - var img2 = (jsonfile['results'][i+1]['poster_path'] != null) ?  'https://image.tmdb.org/t/p/w500/'+jsonfile['results'][i+1]['poster_path'] : "/images/no_locandina.webp"
            - var id2 = jsonfile['results'][i+1]['id'];

            - var fileJson3 = jsonfile['results'][i+2]['name'];
            - var img3 = (jsonfile['results'][i+2]['poster_path'] != null) ?  'https://image.tmdb.org/t/p/w500/'+jsonfile['results'][i+2]['poster_path'] : "/images/no_locandina.webp"
            - var id3 = jsonfile['results'][i+2]['id'];
            br
            br
            br
            .container
                .row
                    .col-sm
                        div(class='res')
                         a(href='/risultato_TV/:'+id1+'?')
                            img(src = img1,width = "50%", height = "75%",class='img')
                            p.tfilm #{fileJson1}
                    .col-sm
                        div(class='res')
                         a(href='/risultato_TV/:'+id2+'?')
                            img(src = img2,width = "50%", height = "75%",class='img')
                            p.tfilm #{fileJson2}
                    .col-sm
                        div(class='res')
                         a(href='/risultato_TV/:'+id3+'?')
                            img(src = img3,width = "50%", height = "75%", class='img')
                            p.tfilm #{fileJson3}

        -while(i+1<jsonfile['total_results']/jsonfile['total_pages'])
            -console.log(i)
            - var fileJson1 = jsonfile['results'][i]['name'];
            - var img1 = (jsonfile['results'][i]['poster_path'] != null) ?  'https://image.tmdb.org/t/p/w500/'+jsonfile['results'][i]['poster_path'] : "/images/no_locandina.webp"
            - var id1 = jsonfile['results'][i]['id'];

            - var fileJson2 = jsonfile['results'][i+1]['name'];
            - var img2 = (jsonfile['results'][i+1]['poster_path'] != null) ?  'https://image.tmdb.org/t/p/w500/'+jsonfile['results'][i+1]['poster_path'] : "/images/no_locandina.webp"
            - var id2 = jsonfile['results'][i+1]['id'];
            br
            .container
                .row
                    .col-sm
                        div(class='res')
                         a(href='/risultato_TV/:'+id1+'?')
                            img(src = img1,width = "50%",height = "75%", class='img')
                            p.tfilm #{fileJson1}
                    .col-sm
                        div(class='res')
                         a(href='/risultato_TV/:'+id2+'?')
                            img(src = img2,width = "50%",height = "75%", class='img')
                            p.tfilm #{fileJson2}
                    .col-sm
                    div(class='res')
                    br
            -i = i+2;

        -while(i<jsonfile['total_results']/jsonfile['total_pages'])
            - var fileJson1 = jsonfile['results'][i]['name'];
            - var img1 = (jsonfile['results'][i]['poster_path'] != null) ?  'https://image.tmdb.org/t/p/w500/'+jsonfile['results'][i]['poster_path'] : "/images/no_locandina.webp"
            - var id1 = jsonfile['results'][i]['id'];
            br
            .container
                .row
                    .col-sm
                        div(class='res')
                         a(href='/risultato_TV/:'+id1+'?')
                            img(src = img1,width = "50%", height = "75%",class='img')
                            p.tfilm #{fileJson1}
                    .col-sm
                    div(class='res')
                    .col-sm
                    div(class='res')
                    br
            -i = i+1;